<div class="invoices-container">
  <div class="invoices-sidebar">
    <div class="invoices-search">
      <input type=text placeholder="Hladať">
    </div>
    <ul class="list-group">
      <li *ngFor="let invoice of invoices; let index = index" class="list-group-item">
        {{index}}. {{invoice.name}}
        <span class="badge" [ngClass]="{'badge-primary': !isPaid(invoice), 'badge-success': isPaid(invoice)}" >
          {{isPaid(invoice) ? "zaplatená" : "vytvorená"}}
        </span>
      </li>
    </ul>
    <div class="invoices-summary">
      <h6>Uhradených: {{paidCount}}</h6>
      <h6>Neuhradených: {{unpaidCount}}</h6>
    </div>
  </div>
  <div class=invoices-main>
    <input type=text placeholder="Pridať faktúru" #newInvoiceName (keyup.enter)="addInvoice(newInvoiceName.value)">
  </div>
</div>
