<div class="invoices-container">
  <div class="invoices-sidebar">
    <div class="invoices-search">
      <input type=text placeholder="Hladať">
    </div>
    <ul class="list-group">
      <li class="list-group-item">0. asdfasdf <span class="badge badge-success">zaplatena</span></li>
      <li class="list-group-item">1. gjirugjai <span class="badge badge-primary">vytvorena</span></li>
      <li class="list-group-item">2. gjirugjai <span class="badge badge-primary">vytvorena</span></li>
    </ul>
    <div class="invoices-summary">
      <h6>Uhradených: 5</h6>
      <h6>Neuhradených: 5</h6>
    </div>
  </div>
  <div class=invoices-main>
    <input type=text placeholder="Pridať faktúru">
  </div>
</div>
